<header id="toolbar" class="topbar">
    <p class="topbar-title">Mi Blog.</p>
    <!--<ul class="topbar-nav">
        <li class="nav-item"><a href="#">Inicio</a></li>
        <li class="nav-item"><a href="#">Blogs</a></li>
        <li class="nav-item"><a href="#">Mas Popular</a></li>
        <li class="nav-item"><a href="#">Acerca de</a></li>
    </ul>-->
    <div class="buttons">
        <div id="menu-nav" class="menu-bar"><i class="fi fi-rr-menu-burger"></i></div>
    </div>
</header>

<nav id="navigation" class="navigation">
    <div class="heading">
    <h3 class="nav-heading">ByteLost.</h3>
    <div id="close-nav" ><i class="fi fi-rr-rectangle-xmark"></i></div>
    </div>
    <ul class="items">
        <li class="item"><a href="/">Inicio</a></li>
        <li class="item"><a href="/category">Categorias</a></li>
        <li class="item"><a href="/tags">Etiquetas</a></li>
        <li class="item"><a href="/blog">Blogs</a></li>
        <li class="item"><a href="/blog/aboutme">Acerca de</a></li>
    </ul>
</nav>

<div id="loader" class="loader">
    <div></div>
    <div></div>
    <div></div>
</div>